:root {
  --lsu-purple: #461d7c;
  --lsu-gold: #fdd023;
  --text-dark: #2d2d2d;
}

.lost-page {
  display: flex;
  justify-content: center;
  padding-top: 40px;
}

.lost-container {
  width: 700px;
  background: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.lost-container h1 {
  text-align: center;
  color: var(--lsu-purple);
  margin-bottom: 24px;
  border-bottom: 3px solid var(--lsu-gold);
  padding-bottom: 8px;
}

.lost-form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 18px;
  display: flex;
  flex-direction: column;
}

label {
  font-weight: 600;
  margin-bottom: 6px;
  color: var(--text-dark);
}

input,
select,
textarea {
  padding: 12px;
  font-size: 15px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

textarea {
  resize: vertical;
  height: 120px;
}

.submit-btn {
  width: 100%;
  background-color: var(--lsu-purple);
  color: white;
  padding: 14px;
  border: none;
  border-radius: 6px;
  font-size: 17px;
  cursor: pointer;
  margin-top: 10px;
  transition: 0.2s;
}

.submit-btn:hover {
  background-color: #371764;
}
.lost-title {
  color: var(--lsu-purple);      /* makes it purple */
  margin-bottom: 16px;
  font-size: 28px;
  font-weight: 700;
  border-bottom: 3px solid var(--lsu-gold);
  padding-bottom: 8px;
}
