.login-fullscreen {
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.background-image {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: 1;
  filter: none;
  transform: scale(1.05); 
}

.center-box {
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.login-card {
  background: rgba(225, 218, 227, 0.75);
  padding: 30px; 
  border-radius: 16px;
  width: 280px;
  text-align: center;
  box-shadow: 0 6px 14px rgba(143, 20, 159, 0.2);
}

.login-card h1 {
  color: var(--lsu-purple);
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 2 rem; 
}

.login-card p {
  margin-bottom: 15px;
  color: var(--lsu-purple);
  font-size: 1.2rem;
  font-weight: 500;
}

.login-form input {
  width: 100%;
  padding: 10px;
  border: 2px solid var(--lsu-purple);
  border-radius: 8px;
  margin-bottom: 10px;
  font-size: 0.95rem;
}

.login-btn {
  width: 100%;
  padding: 10px;
  background-color: var(--lsu-gold);
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  font-size: 0.95rem;
  transition: 0.2s;
}

.login-btn:hover {
  background-color: #e5be00;
}

.error {
  color: red;
  font-size: 0.85rem;
  margin-bottom: 10px;
  font-weight: bold;
}
